body{
    padding: 0;
    margin: 0;
    overflow: hidden; /*ปิดการเลื่อนเนื้อหาส่วนเกิน*/
}
header,main{
    font-size: 2rem;
    font-weight: 700;
    padding: 3.4rem;
    display: flex;
    justify-content: space-between;
}
header{
    align-items: center;
}
h1{
    font-weight: 900;
    margin: 0;
    text-align: center;
    font-size: 6rem;
}
main{
    text-align: center;
}
main img{ /*มีภาพมากว่า1ภาพ เข้าไปที่ ชื่อblock ก่อน จะได้ไม่งง*/
    width: 50%; /*แบ่งครึ่งได้เพราะ justify-content: space-between;*/
}
header.dark{
    background-color: #121213;
    color: orange;
}
main.dark{
    background-color: #121213;
    color: #fff;
}
main.dark p{
    color: orange;
}